body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    justify-content: center;
    align-items: center;
    color: lightgrey;
    text-shadow: 4px 4px 6px rgb(132, 130, 241);
}

button {
    cursor: pointer;
    font-size: 48px;
    min-width: 75px;
    background-color: rgb(255, 244, 228);
    box-shadow: 4px 4px 4px rgb(255, 253, 152);
}

.buttons {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    gap: 4rem;

}

.players {
    color: lightgrey;
    text-shadow: 4px 4px 6px rgb(132, 130, 241);
    font-size: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    gap: 10rem;
}